<?xml version="1.0"?>
<model>
    <name>Morphing_drone</name>
    <version>1.0</version>
    <sdf version="1.6">Morphing_drone.sdf</sdf>
    <author>
        <name>woodaengtang</name>
        <email>your@email.com</email>
    </author>
    <description>
    Morphing drone model for ROS 2 and Gazebo simulation.
    </description>
</model>
